W poniższej komórce nastąpił import potrzebnych bibliotek.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Zadanie 3

Funkcja draw() służy to rysowania wykresów dla zadanego zbioru X oraz funkcji f() oraz umożliwia ustawienie tytułu.

Wykresy zostały narysowane na końcu komórki.

In [ ]:
def draw(x, f, title):
    plt.plot(x, f(x), label='f(x)')
    plt.legend()
    plt.title(title)
    plt.xlabel("Y axis")
    plt.ylabel("X axis")
    plt.show()

# Zdefiniowanie jednolinijkowej funkcji można zrealizować przy pomocy funkcji lambda.

f = lambda x: x ** 2 + 5

# Wybrałem funkcję linspace, jednak równie dobrze zadziałała by funkcja arrange.
x1 = np.linspace(-1, 1, 100)
x2 = np.linspace(-6, 6, 100)
x3 = np.linspace(0, 5, 100)

draw(x1, f, "X belongs to (-1, 1)")
draw(x2, f, "X belongs to (-6, 6)")
draw(x3, f, "X belongs to (0, 5)")

Zadanie 4

Dane są podane na początku w listach, które następnie jako słownik są zamienione w dataframe.

In [13]:
name = ['Janusz', 'Benek', 'Stachu', 'Marcin', 'Anna', 'Katarzyna']
surname = ['Kowalski', 'Malecki', 'Piątek', 'Giez', 'Sobota', 'Pytka']
age = [20, 30, 40, 50, 60, 70]
sex = ['M', 'M', 'M', 'M', 'F', 'F']
df = pd.DataFrame(data={'name': name, 'surname': surname, 'age': age, 'sex': sex})
df.info()
df.describe()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     6 non-null      object
 1   surname  6 non-null      object
 2   age      6 non-null      int64
 3   sex      6 non-null      object
dtypes: int64(1), object(3)
memory usage: 320.0+ bytes

     name   surname  age sex
0  Janusz  Kowalski   20   M
1   Benek   Malecki   30   M
2  Stachu    Piątek   40   M